.footer {
	background-color: $main_bgc;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 50);
}

.footer-top-wrapper {
	width: 1519px;
	height: 200px;
	background-color: $main_bgc;
	border-bottom: 2px solid $back_bgc;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 52px;
}

.footer__row--copyright {
	padding-top: 40px;
	padding-bottom: 49px;
}

.footer__logo {
		
}

.footer__nav {

}

.footer__socials {

}