

.header {
	background-color: $main_bgc;
	height: 166px;
	box-shadow: 0 3px 10px rgba(166, 166, 166, 50);
}

.header_container{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 23px;
	padding-right: 41px;
	padding-top: 30px;
	padding-bottom: 38px;
}

.header_logo {
	color: $c-txt;
	font-size: 22px;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1.76px;

		&:hover {
		color: #1875f0;
		text-decoration: none;
		cursor: pointer;
	}
}

.header_serch {
	display: flex;
	width: 468px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #303030;
}

.header_serch-input-wrapper{
	width: 278px;
	display: flex;
	align-items: center;
	border-right: 2px solid #303030;
	}

.header_serch-input {
	height: 46px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	color: $c-txt;
	background-color: $main_bgc;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;

	&::placeholder {
		color: $dc-txt;
	}
}

.header_search-dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 142px;
	border-right: 2px solid #303030
}

.header_search-button-wrapper {
	flex-grow: 1;
}

.header_search-button {
 background-color: transparent;
 border: none;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 cursor: pointer;
 &:hover {
 	background-color: #303030;
 }
}

.header_links{
 display: flex;
 justify-content: space-between;
}


.header__nav {
	border-top: $border;
}