/* Footer navigation start */

.nav-footer {
	
}

.nav-footer__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-footer__list-item {
	padding: 0;
	margin: 0;
	
	& + & {
		margin-left: 60px;
	}

	&:hover {
		.footer-dropdown {
			display: block;
		}
	}
}

.nav-footer__link {
	color: $c-txt;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;

	&:hover {
		color: $blue;
		text-decoration: none;
		transition: 0.2s color ease-in;
	}
}

.nav-footer__link--dropdown {
	position: relative;
	padding-right: 20px;

	span {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-65%);

		svg {
			fill: $c-txt;
			transition: 0.2s fill ease-in;
		}
	}

	&:hover span svg {
		fill: $blue;
		transition: 0.2s fill ease-in;
	}
}	

.footer-dropdown {
	display: none;
	padding: 20px 10px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	list-style: none;
	position: absolute;
	right: 800px;
	left: 360px;
	background-color: $back_bgc;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 50);
	border-radius: 5px;
	z-index: 2;
}

.list-item {

	&:not(:last-child) {
		margin-bottom: 20px;
	}
	
}

.list-link {
	color: $c-txt;

	&:hover {
		color: $blue;
		text-decoration: none;
		transition: 0.2s color ease-in;
	}
}

/* Footer navigation end */