/* Promo section items under header start */
/* Item-col with png image-headphones */

.promo-section-item-link-wrapper {
	display: block;
}

.promo-section-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: 350px;
	height: 330px;
	border-radius: 5px;
	background-color: $main_bgc;
	padding: 30px;
	margin-bottom: 29px;
	transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 3px 18px rgba(0, 0, 0, 50)
	}
}

.promo-section-item__title {
	margin-bottom: 20px;
	color: $c-txt;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	&:hover {
		color: $blue;
	}
}

.promo-section-item__subtitle {
	margin-bottom: 40px;
	color: $dc-txt;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	&:hover {
		color: $blue;
	}
}

.promo-section-item__img {
	width: 145px;
}
/* Item-col with png image-headphones end */

/* Item-col with background image in promo */
.promo-section-item--background-img {
	justify-content: flex-end;
	background-color: $main_bgc;
	background-position: center;
	background-size: cover;
	padding-bottom: 45px;

	.promo-section-item__title {
		color: #fff;

		&:hover {
		color: $blue;
		}
	}

	.promo-section-item__subtitle {
		margin-bottom: 0;
		color: rgba(255, 255, 255, 0.4);

		&:hover {
		color: $blue;
		}
	}
}

.promo-section-item--background-img-phone {
	background-color: $main_bgc;
	background-image: url("./../img/promo/Product_card.jpg");
}
/* Item-col with background image in promo end */


/* Mini items-cols in promo */

.promo-section-item-link-wrapper--column {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.promo-section-item--small {
	flex-direction: row;
	align-items: center;
	padding: 20px;
	height: 150px;
	text-align: left;

	.promo-section-item__title {
		color: $c-txt;
		font-size: 14px;
		font-weight: 500;
		line-height: 2.14;
		margin: 0;

		&:hover {
			color: $blue;
		}
	}

}

.promo-section-item__img-cell {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	width: 100px;
	height: 100%;
	margin-right: 25px;
}

.promo-section-item__title-cell {
	display: flex;
	align-items: center;
}


/* Mini items-cols in promo end */
/* Promo section items under header end */