* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: #1875f0;
	}
}

.hidden {
	display: none;
}