// hover цвет для иконок
$blue: #1875f0;
// #B22222; - Альтернативный красный цвет
// #FF8C00; - Альтернативный оранжевый цвет
// #1875f0; - Альтернативный голубой цвет

// Цвет фона основной -header, карточек и видимых элементо
$main_bgc: #262626;

// Цвет заднего фона на странице
$back_bgc: #1A1A1A;

// Цвет логотипа
$logo_color: #F2F2F2;

// Цвет текста -header-links
$c-txt: #A6A6A6;

// Темный цвет текста для -header-links
$dc-txt: #4D4D4D;

// Цвет border -header
$border: 2px solid #303030;