// import base
//------------------//

@import "./base/base";

@import "./base/variables";


// import blocks
//------------------//
// import header
@import "./blocks/_header";

// import castom select
@import "./blocks/_header-select-dropdown-castom";

// import buttons after select
@import "./blocks/_header-link";

// import navigation under header
@import "./blocks/_header-nav";

// import mega menu into navigation
@import "./blocks/_header-mega-menu-link";

// import drodown in nav
@import "./blocks/_nav-dropdown";

// import carousel under header
@import "./blocks/_carousel";

// import carousel styles
@import "./blocks/_carousel-theme";

// import promo section
@import "./blocks/_promo-section";

// import promo section - Items
@import "./blocks/_promo-section-item";

// import main content in page
@import "./blocks/_main";

// import navigation-sidebar
@import "./blocks/_navigation";

// import infoblock under left sidebar
@import "./blocks/_infoblock";

// import tabs plate
@import "./blocks/_tabs";

// import Cards Product-list
@import "./blocks/_card";



// import mixins
//------------------//
@import "./mixins/_card"
